# Virtual Environment
venv/
.env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

__pycache__/
*.pyc